.my_image {
  background: url('https://t4.ftcdn.net/jpg/03/18/91/39/360_F_318913930_Cr5dtmtara6rxeeTIogQgx0RYwzhio2k.jpg') no-repeat center center fixed;
  background-size: 150px;
  background-repeat: repeat;
}
