{% extends 'exchanger/base.html' %}

{% block title %}
    HOME
{% endblock title %}

{% block main_content %}
    <div> Currency Exchange Project</div>
    
     <div>
        <a href = 'contact_us/'>ADMIN ONLY</a>
    </div>

    <div>
        <a href = 'rate/'>VIEW RATE LIST</a>
    </div>
    <div>
        <table class="styled-table">
            <tr>
                <td>CLICK ON GOOSE</td>
            </tr>
             <tr>
                <td>
                    <a href="/goose/">
                        <button class="goose"></button>
                    </a>
                </td>
            </tr>
        </table>


    </div>
{% endblock main_content %}