{% extends 'exchanger/base.html' %}

{% block title %} RATE UPDATE {% endblock title %}

{% block main_content %}
    <form method="post">
        {% csrf_token %}
        <table class="styled-table">
            <tr>
                <th colspan="2">
                    EDIT DATA
                </th>
            </tr>
            <tr>
                {{ form.as_table }}
            </tr>
            <tr>
                <td>
                    <a href={% url 'rate_list' %}><button type="button" class="button-68"> FORGET ABOUT IT </button></a>
                </td>
                <td>
                    <button type="submit" class="button-68"> SUBMIT </button>
                </td>
            </tr>
        </table>

    </form>
{% endblock %}
